@using AnthroCloud.Entities
@using AnthroCloud.Entities.Charts
@using AnthroCloud.UI.Wasm.Services
@inject HttpClient httpClient

<div>
    @if (!visitList.Any())
    {
        <ul class="w3-ul w3-card">
            <li class="w3-bar">
                <FluentCard class="w3-left card-padding">
                    <FluentSkeleton style="border-radius: 4px; height: 30px; margin-top: 20px;margin-bottom: 10px;" Shape="SkeletonShape.Rect"></FluentSkeleton>
                    <FluentSkeleton style="border-radius: 4px; margin-top: 10px; height: 10px; width:200px;" Shape="SkeletonShape.Rect"></FluentSkeleton>
                    <FluentSkeleton style="border-radius: 4px; margin-top: 10px; height: 10px; width:200px;" Shape="SkeletonShape.Rect"></FluentSkeleton>
                    <FluentSkeleton style="border-radius: 4px; margin-top: 10px; height: 10px; width:200px;" Shape="SkeletonShape.Rect"></FluentSkeleton>
                    <FluentSkeleton style="border-radius: 4px; height: 3px; margin-top: 20px;margin-bottom: 10px;" Shape="SkeletonShape.Rect"></FluentSkeleton>
                    <FluentSkeleton style="border-radius: 4px; margin-top: 10px; height: 10px;" Shape="SkeletonShape.Rect"></FluentSkeleton>
                    <FluentSkeleton style="border-radius: 4px; margin-top: 10px; height: 10px;" Shape="SkeletonShape.Rect"></FluentSkeleton>
                    <FluentSkeleton style="border-radius: 4px; margin-top: 10px; height: 10px;" Shape="SkeletonShape.Rect"></FluentSkeleton>
                    <FluentSkeleton style="border-radius: 4px; margin-top: 10px; height: 10px;" Shape="SkeletonShape.Rect"></FluentSkeleton>
                    <FluentSkeleton style="border-radius: 4px; margin-top: 10px; height: 10px;" Shape="SkeletonShape.Rect"></FluentSkeleton>
                    <FluentSkeleton style="border-radius: 4px; height: 30px; margin-top: 20px;margin-bottom: 10px;" Shape="SkeletonShape.Rect"></FluentSkeleton>
                </FluentCard>
            </li>
        </ul>
    }
    else
    {
        <ul class="w3-ul w3-card">
            <li class="w3-bar">
            <FluentAccordion ExpandMode="AccordionExpandMode.Single">
                @foreach (Visit Item in visitList)
                {
                    <FluentAccordionItem Heading=@(Item.Patient.FirstName + " " + Item.Patient.LastName + " - " + Item.VisitId) Expanded="false">
                        <div class="w3-row">
                            <div class="w3-container w3-col">
                                <b>Visit ID: </b>
                                <a href="/measure/view/@Item.VisitId">@Item.VisitId</a>
                            </div>
                            <div class="w3-container w3-col">
                                <b>Patient ID: </b>
                                <a href="/patient/edit/@Item.PatientId">@Item.PatientId</a>
                            </div>
                            <div class="w3-container w3-col"><b>Weight: </b>@Item.Weight</div>
                            <div class="w3-container w3-col"><b>Length/Height: </b>@Item.LengthHeight</div>
                        </div>
                        <hr style="border:3px solid #f1f1f1">
                        <div class="w3-cell-row">                            
                            @foreach (Measure Item in Item.Measures)
                            {
                                <div class="w3-cell w3-mobile">
                                    <div class="w3-card w3-padding w3-margin">
                                        <div class="w3-large">
                                            <i class="fa fa-folder-o" aria-hidden="true"></i>
                                            @Item.Name
                                        </div>
                                        <div >
                                            <b>Percentile: </b>
                                                <div class="w3-light-grey w3-round w3-center" >
                                                <div class="w3-round w3-blue w3-text-black" style="width:@Item.Percentile%">@Item.Percentile%</div>
                                            </div>
                                        </div>
                                        <div>
                                            <b>Zscore: </b>
                                            <div class="w3-round w3-center" style="width:100px;background-color: @SetColor(@Item.Zscore);">
                                                @Item.Zscore
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            }                            
                        </div>
                        <br />
                        
                    </FluentAccordionItem>
                }
            </FluentAccordion>
            </li>
        </ul>
    }
</div>
<style>
    .card-padding {
        padding: 16px;
    }
</style>
@code {

    [Inject]
    public IVisitService VisitService { get; set; }
    [Parameter]
    public int PatientId { get; set; }
    [Parameter]
    public int VisitId { get; set; }
    protected List<Measure> measureList = new();
    protected List<Visit> visitList = new();
    protected override async Task OnInitializedAsync()
    {
        visitList = (await VisitService.GetVisitsMeasures(PatientId)).ToList();
        measureList = (await VisitService.GetVisitMeasures(VisitId)).ToList();
    }
    public string SetColor(double zscore)
    {
        var colorCode = zscore switch
        {
            double n when (n <= 1 && n >= -1) => "#008000", //GREEN
            double n when (n <= -1 && n >= -2) || (n <= 2 && n > 1) => "#FFA500", //GOLD
            double n when (n < -2 && n >= -3) || (n <= 3 && n > 2) => "#FF0000", //RED
            double n when (n > 3 || n < -3) => "#808080", //BLACK
            _ => string.Empty,
        };
        return colorCode;
    }
}