@using AnthroCloud.Entities
@using AnthroCloud.Entities.Charts
@using AnthroCloud.UI.Wasm.Services
@inject HttpClient httpClient
@inject NavigationManager NavigationManager

@*<ul class="w3-ul w3-small">
    @foreach (Visit Item in visitList)
    {
        <li class="w3-bar">
            <div class="w3-bar-item">
                <div class="w3-container w3-cell">
                    <div>
                        <b>Visit ID: </b>
                        <a href="/measure/view/@Item.VisitId">@Item.VisitId</a>
                    </div>
                    <div><b>Patient Id: </b>@Item.PatientId</div>
                    <div><b>Weight: </b>@Item.Weight</div>
                    <div><b>Length/Height: </b>@Item.LengthHeight</div>
                </div>
            </div>
        </li>
    }
</ul>*@

<div class="w3-container w3-margin">
    <FluentAccordion ExpandMode="AccordionExpandMode.Single">
        @foreach (Visit Item in visitList)
        {
            <FluentAccordionItem Heading=@(Item.Patient.FirstName + " " + Item.Patient.LastName + " " + Item.VisitId) Expanded="false">
                <div class="w3-container w3-cell">
                    <div>
                        <b>Visit ID: </b>
                        <a href="/measure/view/@Item.VisitId">@Item.VisitId</a>
                    </div>
                    <div><b>Patient Id: </b>@Item.PatientId</div>
                    <div><b>Weight: </b>@Item.Weight</div>
                    <div><b>Length/Height: </b>@Item.LengthHeight</div>
                </div>
            </FluentAccordionItem>
        }
    </FluentAccordion>
</div>
@code {

    [Inject]
    public IVisitService VisitService { get; set; }
    [Parameter]
    public int PatientId { get; set; }
    protected List<Visit> visitList = new();
    protected Visit visit = new();

    protected override async Task OnInitializedAsync()
    {
        visitList = (await VisitService.GetVisits(PatientId)).ToList();
    }
}