@page "/ModalExample"
@*//@inject IModalService Modal*@
@using AnthroCloud.Entities.Charts
@using AnthroCloud.UI.Blazor.Components

<button @onclick="@(() => ShowGrowthChart(GrowthTypes.WFL, GraphTypes.PValue))" class="btn btn-primary">WFL P</button>
<button @onclick="@(() => ShowGrowthChart(GrowthTypes.WFL, GraphTypes.ZScore))" class="btn btn-primary">WFL Z</button>
<button @onclick="@(() => ShowGrowthChart(GrowthTypes.BFA, GraphTypes.PValue))" class="btn btn-primary">BFA P</button>
<button @onclick="@(() => ShowGrowthChart(GrowthTypes.BFA, GraphTypes.ZScore))" class="btn btn-primary">BFA Z</button>
<button @onclick="@(() => Modal.Show<PValue>("Weight-for-length"))" class="btn btn-primary">WFL P [manual]</button>
<button @onclick="@(() => Modal.Show<ZScore>("Weight-for-length"))" class="btn btn-primary">WFL Z [manual]</button>

@code {
    [CascadingParameter] public IModalService Modal { get; set; }

    void ShowGrowthChart(GrowthTypes growth, GraphTypes graph)
    {
        var parameters = new ModalParameters();
        parameters.Add(nameof(Chart.Growth), growth);
        parameters.Add(nameof(Chart.Graph), graph);
        Modal.Show<Chart>("Weight-for-length", parameters);
    }
}
