@inherits AnthroFormBase
@using AnthroCloud.Entities
@using AnthroCloud.Entities.Charts

<style>
    fieldset {
        border: 1px solid #ddd !important;
        margin: 0;
        margin-top: 5px;
        min-width: 0;
        padding: 10px;
        position: relative;
        border-radius: 4px;
        background-color: #fafafa;
        padding-left: 10px !important;
    }

    legend {
        font-size: 14px;
        font-weight: bold;
        margin-bottom: 0px;
        width: 35%;
        border: 1px solid #ddd;
        border-radius: 4px;
        padding: 5px 5px 5px 10px;
        background-color: #ffffff;
    }
</style>

<h5>AnthroForm @ExecutionTime</h5>

<p>This calculator component retreives data from a service.  A dialog displays a chart component that also retrieves data from a service.</p>
<EditForm EditContext="@EditContext" OnValidSubmit="@OnValidSubmit" OnInvalidSubmit="@OnInvalidSubmit">
    <DataAnnotationsValidator />
    <ValidationSummary />

    <fieldset>
        <div class="form-row">
            <div class="col-md-6 mb-2">
                <label for="DateOfBirth">Date of Birth</label>
                <InputDate id="DateOfBirth" 
                    Value="@FormModel.FormInputs.DateOfBirth"
                    ValueExpression="@(()=>FormModel.FormInputs.DateOfBirth)"
                    ValueChanged="@((DateTime value) => HandleBirthChange(value))"
                    ParsingErrorMessage="Must be a valid date."
                    class="form-control text-center" />
            </div>
            <div class="col-md-6 mb-2">
                <label for="DateOfVisit">Visit Date</label>
                <InputDate id="DateOfVisit"
                    Value="@FormModel.FormInputs.DateOfVisit"
                    ValueExpression="@(()=>FormModel.FormInputs.DateOfVisit)"
                    ValueChanged="@((DateTime value) => HandleVisitChange(value))"
                    ParsingErrorMessage="Must be a valid date."
                    class="form-control text-center" />
            </div>
        </div>
        <div class="form-row">
            <div class="col-md-4 mb-2">
                <div class="col-md-4 mb-2">
                    <label for="grpRadio" class="col-form-label">Sex</label>
                    <div class="form-group">
                        <InputRadioGroup Value="@FormModel.FormInputs.Sex"
                                         ValueExpression="@(()=>FormModel.FormInputs.Sex)"
                                         ValueChanged="@((Sexes value) => HandleRadioChange(value))">
                            @foreach (var item in (Sexes[])Enum.GetValues(typeof(Sexes)))
                            {
                                <label class="d-block">
                                    <InputRadio Value="item" />
                                    @item
                                    <br>
                                </label>
                            }
                        </InputRadioGroup>
                    </div>
                </div>
            </div>
            <div class="col-md-4 mb-2">
                <label for="grpStanding" class="col-form-label">Standing</label>
                <div class="form-group">
                    <InputRadioGroup Value="@FormModel.FormInputs.Measured"
                                     ValueExpression="@(()=>FormModel.FormInputs.Measured)"
                                     ValueChanged="@((MeasurementTypes value) => HandleMeasuredChange(value))">
                        @foreach (var item in (MeasurementTypes[])Enum.GetValues(typeof(MeasurementTypes)))
                            {
                        <label class="d-block">
                            <InputRadio Value="item" />
                            @item
                            <br>
                        </label>
                            }
                    </InputRadioGroup>
                </div>
            </div>
            <div class="col-md-4 mb-2">
                <label for="grpOedema" class="col-form-label">Oedema</label>
                <div class="form-group">
                    <InputRadioGroup id="grpOedema" Name="oedema" @bind-Value="FormModel.FormInputs.Oedema">
                        <label class="d-block">
                            <InputRadio Name="oedema" Value="OedemaTypes.Yes" />Yes<br>
                        </label>
                        <label class="d-block">
                            <InputRadio Name="oedema" Value="OedemaTypes.No" />No<br>
                        </label>
                    </InputRadioGroup>
                </div>
            </div>
        </div>
        <div class="form-row">
            <div class="form-group col-md-6">
                <div class="form-group row">
                    <label for="Weight" class="col-sm-5 col-form-label">Weight (kg)</label>
                    <div class="col-sm-7">
                        <InputNumber id="Weight" @bind-Value="@FormModel.FormInputs.Weight"
                                     @onclick="HandleSubmitAsync"
                                     class="form-control text-center"
                                     MIN=".9" MAX="58" STEP=".1"
                                     data-error-msg="Must be .9 and 58"
                                     placeholder="Weight (kg)" />
                    </div>
                </div>
                <div class="form-group row">
                    <label for="validationDefault02" class="col-sm-5 col-form-label">Head Circumference (cm)</label>
                    <div class="col-sm-7">
                        <input asp-for="HeadCircumference" @bind-value="@FormModel.FormInputs.HeadCircumference" @onclick="HandleHcaAsync" class="form-control text-center" type="number" MIN="25.0" MAX="64.0" STEP=".1" id="validationDefault02" required>
                    </div>
                </div>
                <div class="form-group row">
                    <label for="validationDefault03" class="col-sm-5 col-form-label">MUAC (cm)</label>
                    <div class="col-sm-7">
                        <input asp-for="MUAC" @bind-value="@FormModel.FormInputs.MUAC" class="form-control text-center" type="number" MIN="6.0" MAX="35.0" STEP=".1" id="validationDefault03" required>
                    </div>
                </div>
            </div>
            <div class="form-group col-md-6">
                <div class="form-group row">
                    <label for="LengthHeight" class="col-sm-5 col-form-label">Length/Height (cm)</label>
                    <div class="col-sm-7">
                        <input id="LengthHeight"
                               asp-for="LengthHeight"
                               class="form-control text-center"
                               type="number"
                               MIN="45.0" MAX="120.0" STEP=".1"
                               placeholder="Length/Height (cm)"
                               required
                               data-error-msg="Must be 45.0 and 120.0"
                               @bind-value="@FormModel.FormInputs.LengthHeight"
                               @onclick="HandleSubmitAsync" />
                    </div>
                </div>
                <div class="form-group row">
                    <label for="validationDefault05" class="col-sm-5 col-form-label">Triceps skinfold (mm)</label>
                    <div class="col-sm-7">
                        <input asp-for="TricepsSkinFold" @bind-value="FormModel.FormInputs.TricepsSkinFold" class="form-control text-center" type="number" MIN="1.8" MAX="40.0" STEP=".1" id="validationDefault05" required>
                    </div>
                </div>
                <div class="form-group row">
                    <label for="validationDefault06" class="col-sm-5 col-form-label">Subscapular skinfold (mm)</label>
                    <div class="col-sm-7">
                        <input asp-for="SubscapularSkinFold" @bind-value="FormModel.FormInputs.SubscapularSkinFold" class="form-control text-center" type="number" MIN="1.8" MAX="40.0" STEP=".1" id="validationDefault06" required>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-md-12 justify-content-center">
            <button class="btn btn-primary btn-block" type="submit" @onclick="HandleSubmitAsync">Submit</button>
            @*<button class="btn btn-secondary" type="submit" @onclick="HandleValidSubmitAsync" style="width:49%">Submit</button>*@
        </div>
    </fieldset>
</EditForm>

@if (FormModel != null && !LoadFailed)
{
    <fieldset>
        @if (IsCalculating)
        {
            <legend>Results: &emsp;Calculating...<span class="oi oi-reload spinning" aria-hidden="true"></span> </legend>
        }
        else
        {
            <legend>Results: </legend>
        }
        <div class="form-row">
            <div class="col-md-6 mb-2">
                <label for="Age">Age:</label>
                <input id="Age" asp-for="Age" value="@FormModel.FormOutputs.Age.AgeString" class="form-control text-center" type="text" readonly />
            </div>
            <div class="col-md-6 mb-2">
                <label for="BMI">BMI:</label>
                <input id="BMI" asp-for="BMI" value="@FormModel.FormOutputs.Bmi.ToString("0.0")" class="form-control text-center" type="text" placeholder="..." readonly />
            </div>
        </div>
        <div class="form-row">
            <!-- Header -->
            <div class="form-group col-md-6 mb-0">
                <div class="form-group row mb-0">
                    <label class="text-nowrap text-right col-md-7 mt-1 mr-1">Percentile</label>
                    <label class="text-nowrap text-left col-md-4 mt-1 mr-1">Z-score</label>
                </div>
            </div>
            <div class="form-group col-md-6 mb-0">
                <div class="form-group row mb-0">
                    <label class="text-nowrap text-right col-md-7 mt-1 mr-1">Percentile</label>
                    <label class="text-nowrap text-left col-md-4 mt-1 mr-1">Z-score</label>
                </div>
            </div>

            @if (FormModel != null && FormModel.FormOutputs.Age.Years < 2)
            {
                <!-- Weight For Length -->
                <div class="form-group col-md-6">
                    <div class="form-group row mb-0">
                        <label class="text-nowrap col-md-3 mt-1 mr-1">Weight-for-Length</label>
                        <input id="WflPercentileRange" class="form-control-range col-md-2 mr-1 ml-1" asp-for="WflPercentile" type="range" min="0" max="100" step=".1" title="@FormModel.FormOutputs.WflPercentile" value="@FormModel.FormOutputs.WflPercentile" list="tickmarks" disabled />
                        @if (FormModel != null && FormModel.FormInputs.Oedema == OedemaTypes.Yes)
                        {
                            <input type="text" aria-label="WflPercentile" asp-for="WflPercentile" class="form-control col-md-2 mr-1 text-center" value="NA" readonly>
                            <input type="text" aria-label="WflZscore" asp-for="WflZscore" class="form-control col-md-2 mr-1 text-center" value="NA" style="background-color: @SetColor(FormModel.FormOutputs.WflZscore)" readonly>
                            <a class="btn btn-outline-secondary col-md-1 mr-1 disabled" data-toggle="tooltip" data-placement="top" title="Weight-for-length Percentile">
                                <span class="oi oi-graph" aria-hidden="true"></span>
                            </a>
                            <a class="btn btn-outline-secondary col-md-1 mr-1 disabled" data-toggle="tooltip" data-placement="top" title="Weight-for-length Z-score">
                                <span class="oi oi-graph" aria-hidden="true"></span>
                            </a>
                        }
                        else
                        {
                            <input type="text" aria-label="WflPercentile" asp-for="WflPercentile" value="@SetPercentileRange(FormModel.FormOutputs.WflPercentile)" class="form-control col-md-2 mr-1 text-center" readonly>
                            <input type="text" aria-label="WfhZscore" asp-for="WflZscore" value="@FormModel.FormOutputs.WflZscore.ToString(" 0.00")" class="form-control col-md-2 mr-1 text-center" style="background-color: @SetColor(FormModel.FormOutputs.WflZscore)" readonly>

                            <button @onclick="@(() => ShowGrowthChart(GrowthTypes.WFL,
                                                GraphTypes.PValue,
                                                FormModel.FormInputs.Sex,
                                                FormModel.FormInputs.LengthHeight,
                                                FormModel.FormInputs.Weight,
                                                " Weight-for-length"))"
                                    class="btn btn-outline-secondary col-md-1 mr-1"
                                    data-toggle="tooltip"
                                    data-placement="top"
                                    title="Weight-for-length Percentile">
                                <span class="oi oi-graph" aria-hidden="true"></span>
                            </button>
                            <button @onclick="@(() => ShowGrowthChart(GrowthTypes.WFL,
                                                GraphTypes.ZScore,
                                                FormModel.FormInputs.Sex,
                                                FormModel.FormInputs.LengthHeight,
                                                FormModel.FormInputs.Weight,
                                                " Weight-for-length"))"
                                    class="btn btn-outline-secondary col-md-1 mr-1"
                                    data-toggle="tooltip"
                                    data-placement="top"
                                    title="Weight-for-length Z-score">
                                <span class="oi oi-graph" aria-hidden="true"></span>
                            </button>
                        }
                    </div>
                </div>
            }
            else
            {
                <!-- Weight For Height -->
                <div class="form-group col-md-6">
                    <div class="form-group row mb-0">
                        <label class="text-nowrap col-md-3 mt-1 mr-1">Weight-for-Height</label>
                        <input id="WfhPercentileRange" class="form-control-range col-md-2 mr-1 ml-1" asp-for="WfhPercentile" type="range" min="0" max="100" step=".1" title="@FormModel.FormOutputs.WfhPercentile" value="@FormModel.FormOutputs.WfhPercentile" list="tickmarks" disabled />
                        @if (FormModel != null && FormModel.FormInputs.Oedema == OedemaTypes.Yes)
                        {
                            <input type="text" aria-label="WfhPercentile" asp-for="WfhPercentile" class="form-control col-md-2 mr-1 text-center" value="NA" readonly>
                            <input type="text" aria-label="WfhZscore" asp-for="WfhZscore" class="form-control col-md-2 mr-1 text-center" value="NA" style="background-color: @SetColor(FormModel.FormOutputs.WfhZscore)" readonly>
                            <a class="btn btn-outline-secondary col-md-1 mr-1 disabled" data-toggle="tooltip" data-placement="top" title="Weight-for-height Percentile">
                                <span class="oi oi-graph" aria-hidden="true"></span>
                            </a>
                            <a class="btn btn-outline-secondary col-md-1 mr-1 disabled" data-toggle="tooltip" data-placement="top" title="Weight-for-height Z-score">
                                <span class="oi oi-graph" aria-hidden="true"></span>
                            </a>
                        }
                        else
                        {
                            <input type="text" aria-label="WfhPercentile" asp-for="WfhPercentile" value="@SetPercentileRange(FormModel.FormOutputs.WfhPercentile)" class="form-control col-md-2 mr-1 text-center" readonly>
                            <input type="text" aria-label="WfhZscore" asp-for="WfhZscore" value="@FormModel.FormOutputs.WfhZscore.ToString(" 0.00")" class="form-control col-md-2 mr-1 text-center" style="background-color: @SetColor(FormModel.FormOutputs.WfhZscore)" readonly>
                            <button @onclick="@(() => ShowGrowthChart(GrowthTypes.WFH,
                                                GraphTypes.PValue,
                                                FormModel.FormInputs.Sex,
                                                FormModel.FormInputs.LengthHeight,
                                                FormModel.FormInputs.Weight,
                                                " Weight-for-height"))"
                                    class="btn btn-outline-secondary col-md-1 mr-1"
                                    data-toggle="tooltip"
                                    data-placement="top"
                                    title="Weight-for-height Percentile">
                                <span class="oi oi-graph" aria-hidden="true"></span>
                            </button>
                            <button @onclick="@(() => ShowGrowthChart(GrowthTypes.WFH,
                                                GraphTypes.ZScore,
                                                FormModel.FormInputs.Sex,
                                                FormModel.FormInputs.LengthHeight,
                                                FormModel.FormInputs.Weight,
                                                " Weight-for-height"))"
                                    class="btn btn-outline-secondary col-md-1 mr-1"
                                    data-toggle="tooltip"
                                    data-placement="top"
                                    title="Weight-for-height Z-score">
                                <span class="oi oi-graph" aria-hidden="true"></span>
                            </button>
                        }
                    </div>
                </div>
            }
            <div class="form-group col-md-6">
                <div class="form-group row mb-0">
                    <label class="col-md-3 mt-1 mr-1">HC-for-age</label>
                    <input id="HcaPercentileRange" class="form-control-range col-md-2 mr-1" asp-for="HcaPercentile" type="range" min="0" max="100" step=".1" title="@FormModel.FormOutputs.HcaPercentile" value="@FormModel.FormOutputs.HcaPercentile" list="tickmarks" disabled />
                    <input aria-label="HcaPercentile" type="text" asp-for="HcaPercentile" value="@SetPercentileRange(FormModel.FormOutputs.HcaPercentile)" class="form-control col-md-2 mr-1 text-center" readonly>
                    <input aria-label="HcaZscore" type="text" asp-for="HcaZscore" value="@FormModel.FormOutputs.HcaZscore.ToString(" 0.00")" class="form-control col-md-2 mr-1 text-center" style="background-color: @SetColor(FormModel.FormOutputs.HcaZscore)" readonly>
                    <button @onclick="@(() => ShowGrowthChart(GrowthTypes.HCA,
                                                GraphTypes.PValue,
                                                FormModel.FormInputs.Sex,
                                                FormModel.FormOutputs.Age.Months,
                                                FormModel.FormInputs.HeadCircumference,
                                                " Head Circumference"
                        ))"
                            class="btn btn-outline-secondary col-md-1 mr-1"
                            data-toggle="tooltip"
                            data-placement="top"
                            title="Head Circumference Percentile">
                        <span class="oi oi-graph" aria-hidden="true"></span>
                    </button>
                    <button @onclick="@(() => ShowGrowthChart(GrowthTypes.HCA,
                                                GraphTypes.ZScore,
                                                FormModel.FormInputs.Sex,
                                                FormModel.FormOutputs.Age.Months,
                                                FormModel.FormInputs.HeadCircumference,
                                                " Head Circumference"
                        ))"
                            class="btn btn-outline-secondary col-md-1 mr-1"
                            data-toggle="tooltip"
                            data-placement="top"
                            title="Head Circumference Z-score">
                        <span class="oi oi-graph" aria-hidden="true"></span>
                    </button>
                </div>
            </div>
            <!-- Weight For Age -->
            <div class="form-group col-md-6">
                <div class="form-group row mb-0">
                    <label class="text-nowrap col-md-3 mt-1 mr-1">Weight-for-Age</label>
                    <input id="WfaPercentileRange" class="form-control-range col-md-2 mr-1 ml-1" asp-for="WfaPercentile" type="range" min="0" max="100" step=".1" title="@FormModel.FormOutputs.WfaPercentile" value="@FormModel.FormOutputs.WfaPercentile" list="tickmarks" disabled />
                    @if (FormModel != null && FormModel.FormInputs.Oedema == OedemaTypes.Yes)
                    {
                        <input aria-label="WfaPercentile" type="text" asp-for="WfaPercentile" class="form-control col-md-2 mr-1 text-center" value="NA" readonly>
                        <input aria-label="WfaZscore" type="text" asp-for="WfaZscore" class="form-control col-md-2 mr-1 text-center" value="NA" style="background-color: @SetColor(FormModel.FormOutputs.WfaZscore)" readonly>
                        <a class="btn btn-outline-secondary col-md-1 mr-1 disabled" data-toggle="tooltip" data-placement="top" title="Weight-for-age Percentile">
                            <span class="oi oi-graph" aria-hidden="true"></span>
                        </a>
                        <a class="btn btn-outline-secondary col-md-1 mr-1 disabled" data-toggle="tooltip" data-placement="top" title="Weight-for-age Z-score">
                            <span class="oi oi-graph" aria-hidden="true"></span>
                        </a>
                    }
                    else
                    {
                        <input aria-label="WfaPercentile" class="form-control col-md-2 mr-1 text-center" type="text" asp-for="WfaPercentile" value="@SetPercentileRange(FormModel.FormOutputs.WfaPercentile)" readonly>
                        <input aria-label="WfaZscore" class="form-control col-md-2 mr-1 text-center" type="text" asp-for="WfaZscore" value="@FormModel.FormOutputs.WfaZscore.ToString(" 0.00")" style="background-color: @SetColor(FormModel.FormOutputs.WfaZscore)" readonly>
                        <button @onclick="@(() => ShowGrowthChart(GrowthTypes.WFA,
                                                GraphTypes.PValue,
                                                FormModel.FormInputs.Sex,
                                                FormModel.FormOutputs.Age.Months,
                                                FormModel.FormInputs.Weight,
                                                " Weight-for-age"
                        ))"
                                class="btn btn-outline-secondary col-md-1 mr-1"
                                data-toggle="tooltip"
                                data-placement="top"
                                title="Weight-for-age Percentile">
                            <span class="oi oi-graph" aria-hidden="true"></span>
                        </button>
                        <button @onclick="@(() => ShowGrowthChart(GrowthTypes.WFA,
                                                GraphTypes.ZScore,
                                                FormModel.FormInputs.Sex,
                                                FormModel.FormOutputs.Age.Months,
                                                FormModel.FormInputs.Weight,
                                                " Weight-for-age"
                        ))"
                                class="btn btn-outline-secondary col-md-1 mr-1"
                                data-toggle="tooltip"
                                data-placement="top"
                                title="Weight-for-age Z-score">
                            <span class="oi oi-graph" aria-hidden="true"></span>
                        </button>
                    }
                </div>
            </div>
            <div class="form-group col-md-6">
                <div class="form-group row mb-0">
                    <label class="text-nowrap col-md-3 mt-1 mr-1">MUAC-for-age</label>
                    <input id="MuacPercentileRange" class="form-control-range col-md-2 mr-1" asp-for="MuacPercentile" type="range" min="0" max="100" step=".1" title="@SetRangeControl(FormModel.FormOutputs.MuacPercentile,FormModel.FormOutputs.Age.Years,FormModel.FormOutputs.Age.Months)" value="@SetRangeControl(FormModel.FormOutputs.MuacPercentile, FormModel.FormOutputs.Age.Years, FormModel.FormOutputs.Age.Months)" list="tickmarks" disabled />
                    <input aria-label="MuacPercentile" class="form-control col-md-2 mr-1 text-center" type="text" asp-for="MuacPercentile" value="@SetPercText(FormModel.FormOutputs.MuacPercentile,FormModel.FormOutputs.Age.Years,FormModel.FormOutputs.Age.Months)" readonly>
                    <input aria-label="MuacZscore" class="form-control col-md-2 mr-1 text-center" type="text" asp-for="MuacZscore" value="@SetZscoreText(FormModel.FormOutputs.MuacZscore,FormModel.FormOutputs.Age.Years, FormModel.FormOutputs.Age.Months)" style="background-color: @SetColor(FormModel.FormOutputs.MuacZscore)" readonly>
                    <button @onclick="@(() => ShowGrowthChart(GrowthTypes.MUAC,
                                                GraphTypes.PValue,
                                                FormModel.FormInputs.Sex,
                                                FormModel.FormOutputs.Age.Months,
                                                FormModel.FormInputs.MUAC,
                                                " MUAC-for-age"
                        ))"
                            class="btn btn-outline-secondary col-md-1 mr-1"
                            data-toggle="tooltip"
                            data-placement="top"
                            title="MUAC-for-age Percentile">
                        <span class="oi oi-graph" aria-hidden="true"></span>
                    </button>
                    <button @onclick="@(() => ShowGrowthChart(GrowthTypes.MUAC,
                                                GraphTypes.ZScore,
                                                FormModel.FormInputs.Sex,
                                                FormModel.FormOutputs.Age.Months,
                                                FormModel.FormInputs.MUAC,
                                                " MUAC-for-age"
                        ))"
                            class="btn btn-outline-secondary col-md-1 mr-1"
                            data-toggle="tooltip"
                            data-placement="top"
                            title="MUAC-for-age Z-score">
                        <span class="oi oi-graph" aria-hidden="true"></span>
                    </button>
                </div>
            </div>
            @if (FormModel != null && FormModel.FormOutputs.Age.Years < 2)
            {
                <!-- Length For Age -->
                <div class="form-group col-md-6">
                    <div class="form-group row mb-0">
                        <label class="text-nowrap col-md-3 mt-1 mr-1">Length-for-Age</label>
                        <input id="LfaPercentileRange" class="form-control-range  col-md-2 mr-1 ml-1" asp-for="LfaPercentile" type="range" min="0" max="100" step=".1" title="@FormModel.FormOutputs.LfaPercentile" value="FormModel.FormOutputs.LfaPercentile" list="tickmarks" disabled />
                        <input aria-label="LfaPercentile" type="text" asp-for="LfaPercentile" value="@SetPercentileRange(FormModel.FormOutputs.LfaPercentile)" class="form-control col-md-2 mr-1 text-center" readonly>
                        <input aria-label="LfaZscore" type="text" asp-for="LfaZscore" value="@FormModel.FormOutputs.LfaZscore.ToString(" 0.00")" class="form-control col-md-2 mr-1 text-center" style="background-color: @SetColor(FormModel.FormOutputs.LfaZscore)" readonly>
                        <button @onclick="@(() => ShowGrowthChart(GrowthTypes.LHFA,
                                                    GraphTypes.PValue,
                                                    FormModel.FormInputs.Sex,
                                                    FormModel.FormOutputs.Age.Months,
                                                    FormModel.FormInputs.LengthHeight,
                                                    " Length /Height-for-age"
                            ))"
                                class="btn btn-outline-secondary col-md-1 mr-1"
                                data-toggle="tooltip"
                                data-placement="top"
                                title="Length/Height-for-age Percentile">
                            <span class="oi oi-graph" aria-hidden="true"></span>
                        </button>
                        <button @onclick="@(() => ShowGrowthChart(GrowthTypes.LHFA,
                                                    GraphTypes.ZScore,
                                                    FormModel.FormInputs.Sex,
                                                    FormModel.FormOutputs.Age.Months,
                                                    FormModel.FormInputs.LengthHeight,
                                                    " Length /Height-for-age"
                            ))"
                                class="btn btn-outline-secondary col-md-1 mr-1"
                                data-toggle="tooltip"
                                data-placement="top"
                                title="Length/Height-for-age Z-score">
                            <span class="oi oi-graph" aria-hidden="true"></span>
                        </button>
                    </div>
                </div>
            }
            else
            {
                <!-- Height For Age -->
                <div class="form-group col-md-6">
                    <div class="form-group row mb-0">
                        <label class="text-nowrap col-md-3 mt-1 mr-1">Height-for-Age</label>
                        <input id="HfaPercentileRange" class="form-control-range  col-md-2 mr-1 ml-1" asp-for="HfaPercentile" type="range" min="0" max="100" step=".1" title="@FormModel.FormOutputs.HfaPercentile" value="FormModel.FormOutputs.HfaPercentile" list="tickmarks" disabled />
                        <input aria-label="HfaPercentile" type="text" asp-for="HfaPercentile" value="@SetPercentileRange(FormModel.FormOutputs.HfaPercentile)" class="form-control col-md-2 mr-1 text-center" readonly>
                        <input aria-label="HfaZscore" type="text" asp-for="HfaZscore" value="@FormModel.FormOutputs.HfaZscore.ToString(" 0.00")" class="form-control col-md-2 mr-1 text-center" style="background-color: @SetColor(FormModel.FormOutputs.HfaZscore)" readonly>
                        <button @onclick="@(() => ShowGrowthChart(GrowthTypes.LHFA,
                                                    GraphTypes.PValue,
                                                    FormModel.FormInputs.Sex,
                                                    FormModel.FormOutputs.Age.Months,
                                                    FormModel.FormInputs.LengthHeight,
                                                    " Length /Height-for-age"
                            ))"
                                class="btn btn-outline-secondary col-md-1 mr-1"
                                data-toggle="tooltip"
                                data-placement="top"
                                title="Length/Height-for-age Percentile">
                            <span class="oi oi-graph" aria-hidden="true"></span>
                        </button>
                        <button @onclick="@(() => ShowGrowthChart(GrowthTypes.LHFA,
                                                    GraphTypes.ZScore,
                                                    FormModel.FormInputs.Sex,
                                                    FormModel.FormOutputs.Age.Months,
                                                    FormModel.FormInputs.LengthHeight,
                                                    " Length /Height-for-age"
                            ))"
                                class="btn btn-outline-secondary col-md-1 mr-1"
                                data-toggle="tooltip"
                                data-placement="top"
                                title="Length/Height-for-age Z-score">
                            <span class="oi oi-graph" aria-hidden="true"></span>
                        </button>
                    </div>
                </div>
            }

            <div class="form-group col-md-6">
                <div class="form-group row mb-0">
                    <label class="text-nowrap col-md-3 mt-1 mr-1">TSF-for-age</label>
                    <input id="TsfPercentileRange" class="form-control-range col-md-2 mr-1" asp-for="TsfPercentile" type="range" min="0" max="100" step=".1" title="@SetRangeControl(FormModel.FormOutputs.TsfPercentile,FormModel.FormOutputs.Age.Years,FormModel.FormOutputs.Age.Months)" value="@SetRangeControl(FormModel.FormOutputs.TsfPercentile,FormModel.FormOutputs.Age.Years,FormModel.FormOutputs.Age.Months)" list="tickmarks" disabled />
                    <input type="text" aria-label="TsfPercentile" asp-for="TsfPercentile" class="form-control col-md-2 mr-1 text-center" value="@SetPercText(FormModel.FormOutputs.TsfPercentile,FormModel.FormOutputs.Age.Years,FormModel.FormOutputs.Age.Months)" readonly>
                    <input type="text" aria-label="TsfZscore" asp-for="TsfZscore" class="form-control col-md-2 mr-1 text-center" value="@SetZscoreText(FormModel.FormOutputs.TsfZscore,FormModel.FormOutputs.Age.Years,FormModel.FormOutputs.Age.Months)" style="background-color: @SetColor(FormModel.FormOutputs.TsfZscore)" readonly>
                    <button @onclick="@(() => ShowGrowthChart(GrowthTypes.TSF,
                                                GraphTypes.PValue,
                                                FormModel.FormInputs.Sex,
                                                FormModel.FormOutputs.Age.Months,
                                                FormModel.FormInputs.TricepsSkinFold,
                                                " Triceps Skinfold"
                        ))"
                            class="btn btn-outline-secondary col-md-1 mr-1"
                            data-toggle="tooltip"
                            data-placement="top"
                            title="Triceps Skinfold Percentile">
                        <span class="oi oi-graph" aria-hidden="true"></span>
                    </button>
                    <button @onclick="@(() => ShowGrowthChart(GrowthTypes.TSF,
                                                GraphTypes.ZScore,
                                                FormModel.FormInputs.Sex,
                                                FormModel.FormOutputs.Age.Months,
                                                FormModel.FormInputs.TricepsSkinFold,
                                                " Triceps Skinfold"
                        ))"
                            class="btn btn-outline-secondary col-md-1 mr-1"
                            data-toggle="tooltip"
                            data-placement="top"
                            title="Triceps Skinfold Z-score">
                        <span class="oi oi-graph" aria-hidden="true"></span>
                    </button>
                </div>
            </div>
            <!-- BMI For Age -->
            <div class="form-group col-md-6">
                <div class="form-group row mb-0">
                    <label class="text-nowrap col-md-3 mt-1 mr-1">BMI-for-Age</label>
                    <input id="BfaPercentileRange" class="form-control-range col-md-2 mr-1 ml-1" asp-for="BfaPercentile" type="range" min="0" max="100" step="25" title="@FormModel.FormOutputs.BfaPercentile" value="@FormModel.FormOutputs.BfaPercentile" list="tickmarks" disabled />
                    @if (FormModel != null && FormModel.FormInputs.Oedema == OedemaTypes.Yes)
                    {
                        <input type="text" aria-label="BfaPercentile" asp-for="BfaPercentile" class="form-control col-md-2 mr-1 text-center" value="NA" readonly>
                        <input type="text" aria-label="BfaZscore" asp-for="BfaZscore" class="form-control col-md-2 mr-1 text-center" value="NA" style="background-color: @SetColor(FormModel.FormOutputs.BfaZscore)" readonly>
                        <a class="btn btn-outline-secondary col-md-1 mr-1 disabled" data-toggle="tooltip" data-placement="top" title="BMI-for-Age Percentile">
                            <span class="oi oi-graph" aria-hidden="true"></span>
                        </a>
                        <a class="btn btn-outline-secondary col-md-1 mr-1 disabled" data-toggle="tooltip" data-placement="top" title="BMI-for-Age Z-score">
                            <span class="oi oi-graph" aria-hidden="true"></span>
                        </a>
                    }
                    else
                    {
                        <input type="text" aria-label="BfaPercentile" asp-for="BfaPercentile" value="@SetPercText(FormModel.FormOutputs.BfaPercentile,FormModel.FormOutputs.Age.Years, FormModel.FormOutputs.Age.Months)" class="form-control col-md-2 mr-1 text-center" readonly>
                        <input type="text" aria-label="BfaZscore" asp-for="BfaZscore" class="form-control col-md-2 mr-1 text-center" value="@FormModel.FormOutputs.BfaZscore.ToString(" 0.00")" style="background-color: @SetColor(FormModel.FormOutputs.BfaZscore)" readonly>
                        <button @onclick="@(() => ShowGrowthChart(GrowthTypes.BFA,
                                                GraphTypes.PValue,
                                                FormModel.FormInputs.Sex,
                                                FormModel.FormOutputs.Age.Months,
                                                FormModel.FormOutputs.Bmi,
                                                " BMI-for-Age"
                        ))"
                                class="btn btn-outline-secondary col-md-1 mr-1"
                                data-toggle="tooltip"
                                data-placement="top"
                                title="BMI-for-Age Percentile">
                            <span class="oi oi-graph" aria-hidden="true"></span>
                        </button>
                        <button @onclick="@(() => ShowGrowthChart(GrowthTypes.BFA,
                                                GraphTypes.ZScore,
                                                FormModel.FormInputs.Sex,
                                                FormModel.FormOutputs.Age.Months,
                                                FormModel.FormOutputs.Bmi,
                                                " BMI-for-Age"
                        ))"
                                class="btn btn-outline-secondary col-md-1 mr-1"
                                data-toggle="tooltip"
                                data-placement="top"
                                title="BMI-for-Age Z-score">
                            <span class="oi oi-graph" aria-hidden="true"></span>
                        </button>
                    }
                </div>
            </div>
            <div class="form-group col-md-6">
                <div class="form-group row mb-0">
                    <label class="text-nowrap col-md-3 mt-1 mr-1">SSF-for-age</label>
                    <input id="SsfPercentileRange" class="form-control-range col-md-2 mr-1" asp-for="SsfPercentile" type="range" min="0" max="100" step="25" title="@SetRangeControl(FormModel.FormOutputs.SsfPercentile,FormModel.FormOutputs.Age.Years, FormModel.FormOutputs.Age.Months)" value="@SetRangeControl(FormModel.FormOutputs.SsfPercentile,FormModel.FormOutputs.Age.Years,FormModel.FormOutputs.Age.Months)" list="tickmarks" disabled />
                    <input type="text" aria-label="SsfPercentile" asp-for="SsfPercentile" class="form-control col-md-2 mr-1 text-center" value="@SetPercText(FormModel.FormOutputs.SsfPercentile,FormModel.FormOutputs.Age.Years,FormModel.FormOutputs.Age.Months)" readonly>
                    <input type="text" aria-label="SsfZscore" asp-for="SsfZscore" class="form-control col-md-2 mr-1 text-center" value="@SetZscoreText(FormModel.FormOutputs.SsfZscore,FormModel.FormOutputs.Age.Years,FormModel.FormOutputs.Age.Months)" style="background-color: @SetColor(FormModel.FormOutputs.SsfZscore)" readonly>
                    <button @onclick="@(() => ShowGrowthChart(GrowthTypes.SSF,
                                                GraphTypes.PValue,
                                                FormModel.FormInputs.Sex,
                                                FormModel.FormOutputs.Age.Months,
                                                FormModel.FormInputs.SubscapularSkinFold,
                                                " Subscapular Skinfold"
                        ))"
                            class="btn btn-outline-secondary col-md-1 mr-1"
                            data-toggle="tooltip"
                            data-placement="top"
                            title="Subscapular Skinfold Percentile">
                        <span class="oi oi-graph" aria-hidden="true"></span>
                    </button>
                    <button @onclick="@(() => ShowGrowthChart(GrowthTypes.SSF,
                                                GraphTypes.ZScore,
                                                FormModel.FormInputs.Sex,
                                                FormModel.FormOutputs.Age.Months,
                                                FormModel.FormInputs.SubscapularSkinFold,
                                                " Subscapular Skinfold"
                        ))"
                            class="btn btn-outline-secondary col-md-1 mr-1"
                            data-toggle="tooltip"
                            data-placement="top"
                            title="Subscapular Skinfold Z-score">
                        <span class="oi oi-graph" aria-hidden="true"></span>
                    </button>
                </div>
            </div>
        </div>
    </fieldset>
}
else if (IsError)
{
    <div class="alert alert-danger">@ErrorMessage</div>
}
else if (LoadFailed)
{
    <h2 style="text-align: center;">Unable to retrieve data due to an error.</h2>
}
else
{
    <h2 style="text-align: center;">Loading ...</h2>
}

@LocalLogger