@inherits AnthroBase

<h1>AnthroComponent</h1>

<h5>Enter weight and height.  Press the button below to calculate BMI.</h5>

    <label asp-for="DateOfBirth">Date of Birth</label>
    <input asp-for="DateOfBirth" type="date" @bind="Birth" class="form-control text-center" required>

    <label>Date of Visit</label>
    <input asp-for="DateOfVisit" type="date" @bind="Visit" class="form-control text-center" required />

    <div class="form-row">
        <div class="col-md-4 mb-2">
            <label class="col-form-label">Sex</label>
            <div class="form-group">
                <label class="d-block">
                    @*<input id="SexMale" asp-for="Sex" value="1" type="radio" class="ml-2 mr-2"> Male*@
                    <input type="radio" value="1" id="Sex" name="Sex" />Male
                </label>
                <label class="d-block">
                    @*<input id="SexFemale" asp-for="Sex" value="2" type="radio" class="ml-2 mr-2"> Female*@
                    <input type="radio" value="2" id="Sex" name="Sex" />Female
                </label>
            </div>
        </div>
        <div class="col-md-4 mb-2">
            <label class="col-form-label">Standing</label>
            <div class="form-group">
                <label class="d-block">
                    <input type="radio" class="ml-2 mr-2" name="measurement" disabled> Recumbent
                </label>
                <label class="d-block">
                    <input type="radio" class="ml-2 mr-2" name="measurement" disabled> Standing
                </label>
            </div>
        </div>
        <div class="col-md-4 mb-2">
            <label class="col-form-label">Oedema</label>
            <div class="form-group">
                <label class="d-block">
                    <input id="OedemaYes" asp-for="Oedema" type="radio" class="ml-2 mr-2" value="True"> Yes
                </label>
                <label class="d-block">
                    <input id="OedemaNo" asp-for="Oedema" type="radio" class="ml-2 mr-2" value="False"> No
                </label>
            </div>
        </div>
    </div>

    <label class="col-sm-5 col-form-label">Weight (kg)</label>
    <input asp-for="Weight"
           class="form-control text-center"
           type="number"
           MIN=".9" MAX="58" STEP=".1"
           placeholder="Weight"
           required
           data-error-msg="Must be 0 and 1"
           @bind="@Weight" />

    <label class="col-sm-5 col-form-label">Length/Height (cm)</label>
    <input asp-for="LengthHeight"
           class="form-control text-center"
           type="number"
           MIN="45.0" MAX="120.0" STEP=".1"
           placeholder="Weight"
           required
           data-error-msg="Must be 0 and 1"
           @bind="@Height" />

    <label class="col-sm-5 col-form-label">Head Circumference (cm)</label>
    <input asp-for="HeadCircumference"
           class="form-control text-center"
           type="number"
           MIN="25.0" MAX="64.0" STEP=".1"
           required>

    <label for="validationDefault03" class="col-sm-5 col-form-label">MUAC (cm)</label>
    <input asp-for="MUAC"
           class="form-control text-center"
           type="number"
           MIN="6.0" MAX="35.0" STEP=".1"
           required>

    <label for="validationDefault05" class="col-sm-5 col-form-label">Triceps skinfold (mm)</label>
    <input asp-for="TricepsSkinFold"
           class="form-control text-center"
           type="number"
           MIN="1.8" MAX="40.0" STEP=".1"
           required>

    <label for="validationDefault06" class="col-sm-5 col-form-label">Subscapular skinfold (mm)</label>
    <input asp-for="SubscapularSkinFold"
           class="form-control text-center"
           type="number"
           MIN="1.8" MAX="40.0" STEP=".1"
           required>

    <div class="alert alert-secondary mt-4" role="alert">
        <p> The BMI for a weight of @Weight kg and Length/height of @Height cm is @BMI.</p>
        <p> The age is @AgeString.</p>
        <p> The WFA Zscore is @WfaZscore.</p>
        <p> The WFA Percentile is @WfaPercentile.</p>
    </div>

    <button class="btn btn-primary" @onclick="CalculateBMI">Calculate BMI</button>
