@inherits AnthroFormBase
@using AnthroCloud.Entities

<h3>AnthroForm</h3>

<EditForm EditContext="@editContext" OnValidSubmit="@HandleValidSubmitAsync">
    <DataAnnotationsValidator />
    <ValidationSummary />
    <p>
        <label>
            Date of Birth
            <InputDate @bind-Value="formModel.DateOfBirth" />
        </label>
        <label>
            Date of Visit
            <InputDate @bind-Value="formModel.DateOfVisit" />
        </label>
    </p>
    <p>
        <InputRadioGroup Name="sex" @bind-Value="formModel.Sex">
            Sex:
            <br>
            <InputRadio Name="sex" Value="Sexes.Male" />Male<br>
            <InputRadio Name="sex" Value="Sexes.Female" />Female<br>
        </InputRadioGroup>
    </p>
    <p>
        <label class="col-sm-5 col-form-label">Weight (kg)</label>
        <input asp-for="Weight"
               class="form-control text-center"
               type="number"
               MIN=".9" MAX="58" STEP=".1"
               placeholder="Weight"
               required
               data-error-msg="Must be 0 and 1"
               @bind-value="@formModel.Weight" />

            <label class="col-sm-5 col-form-label">Length/Height (cm)</label>
            <input asp-for="LengthHeight"
                   class="form-control text-center"
                   type="number"
                   MIN="45.0" MAX="120.0" STEP=".1"
                   placeholder="Weight"
                   required
                   data-error-msg="Must be 0 and 1"
                   @bind-value="@formModel.Height" />
        </p>
        <button type="submit">Submit</button>

        <div class="alert alert-info mt-4" role="alert">
            <p> The BMI for a weight of @formModel.Weight kg and Length/height of @formModel.Height cm is @formModel.BMI.</p>
            <p> The age is @formModel.AgeString .</p>
            <p> The WFA Zscore is @formModel.WfaZscore.</p>
            <p> The WFA Percentile is @formModel.WfaPercentile.</p>
        </div>

    </EditForm>

